#control-section {
  display: flex;
}

#control-section * {
  margin: 6px;
}

/* .todo-text {
  color: red;
} */

/* .todo-created-at {
  color: green;
} */

.todo-priority {
  color: blue;
}

.todo-container {
  display: flex;
  background-color: whitesmoke;
}
