/* CONTROL SECTION */
body * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem - 2px);
}
body {
  overflow-y: hidden;
}

#main-wrapper {
  margin: 0 auto;
  margin-top: 3vh;
  border: thick solid rgb(87, 72, 72);
  width: 90vw;
  height: 90vh;
  position: relative;
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 20px;
}

#control-section {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  width: 50%;
}

#control-section * {
  margin: 4px;
}

.control-buttons {
  width: 6vw;
  max-width: 80px;
  min-width: 80px;
  height: 4vh;
}

.register-buttons {
  width: 6vw;
  max-width: 80px;
  min-width: 80px;
  height: 4vh;
  margin-top: 12px;
}

#registration {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
  margin-right: 2vw;
  margin-top: 4vh;
  padding: 12px;
  border: 2px solid rgb(87, 72, 72);
  border-radius: 12px;
}

#sign-in {
  padding-bottom: 12px;
}

#signin-btn-span {
}

.hidden {
  display: none;
}

#registered {
  max-width: fit-content;
  padding-top: 20px;
  font-size: 22px;
}

#boldpart {
  font-size: 22px;
}

#load-list {
  position: relative;
  width: 60px;
}

.control-inputs {
  width: 20vw;
  max-width: 200px;
  padding: 4px;
}

.register-inputs {
  margin: 6px;
}

#priority-selector {
  width: 3vw;
  max-width: 200px;
  font-size: 12px;
  height: 30px;
  padding: 1px;
}

#counter-div {
  display: flex;
  margin-top: -2vh;
}

.no-tasks {
  background-image: url(../pics/noTASKS.jpg);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position-x: 40%;
  background-position-y: 90%;
}

#search-div {
  padding-top: 12px;
}

.search-input {
  width: 12vw;
  max-width: 200px;
  padding: 2px;
}

/* VIEW SECTION */
#view-section {
  display: block;
  position: relative;
  margin-top: 4vh;
  width: 66vw;
}

.todo-container {
  display: flex;
}

/* VIEW SECTION: THE LIST */
.buttons-div {
  position: absolute;
  right: 0;
  padding-top: 7px;
  padding-right: 12px;
}

.copy-button {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  margin-right: 6px;
  padding: 4px 12px;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.copy-button:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.copy-button:active {
  position: relative;
  top: 1px;
}

.delete-button {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #3b95c5 5%, #479edb 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 4px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}
.delete-button:hover {
  transition: 200ms;
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
.delete-button:active {
  position: relative;
  top: 1px;
}

#todo-list {
  position: relative;
  margin-top: -2vh;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60vh;
}
body * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body *::-webkit-scrollbar {
  display: none;
}

ul * {
  font-size: 16px;
  list-style-type: none;
}

li {
  background-color: whitesmoke;
  margin: 6px;
  padding: 6px;
  width: 100%;
  display: inline-block;
}

li:hover {
  transition: 0.4s;
  background-color: rgba(112, 103, 243, 0.239);
}

.todo-container {
  height: 4vh;
}

.todo-container * {
  margin-top: auto;
  margin-bottom: auto;
}

.todo-text {
  font-size: 18px;
}

.todo-created-at {
  font-size: 14;
  font-style: italic;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* AWESOME-MODE TOGGLE SWITCH */
#awesome-mode {
  padding-left: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* PRIORITIES */

.one {
  background-color: green;
}

.two {
  background-color: yellow;
}

.three {
  background-color: orange;
}

.four {
  background-color: red;
}

.five {
  background-color: rgb(139, 0, 0);
  color: white;
}

.priorityOne {
  background-color: rgba(0, 128, 0, 0.719);
  color: white;
  border-radius: 6px;
  padding: 4px;
}

.priorityTwo {
  background-color: rgba(255, 255, 0, 0.63);
  color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 4px;
}

.priorityThree {
  background-color: rgba(255, 166, 0, 0.87);
  color: rgb(15, 15, 15);
  border-radius: 6px;
  padding: 4px;
}

.priorityFour {
  background-color: rgba(255, 0, 0, 0.849);
  color: white;
  border-radius: 6px;
  padding: 4px;
}

.priorityFive {
  background-color: rgba(129, 23, 23, 0.863);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 4px;
}

/* PRIORITIES END */
